/* Enter your custom styles here */
.labelStyle {
vertical-align: top;
    word-break: break-word;
    color: #333333;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.5rem;
    padding: 1rem;
}